@import 'vars';

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .mash-prompt-container {
    display: flex;
    align-items: center;
    margin: 0 0 100px 0;

    .mash-prompt-name-input {
      width: 160px;
      margin: 0 10px 0 0;
      text-align: center;
      font-size: 1.15em;
    }

    .predicted-masher {
      margin: 0 20px 0 0;
      font-size: 45px;
      color: $green;
    }
  }

  .next-masher-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0 0 0;

    .next-masher-buttons-container {
      display: flex;

      .next-masher-button {
        border: solid 4px $green;
        background-color: $lightGreen;
        color: $green;
      }

      .start-predicting-button {
        margin: 0 0 0 20px;
        border: solid 4px $darkOrange;
        background-color: $lightOrange;
        color: $darkOrange;
      }

      .next-masher-button,
      .start-predicting-button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border-radius: 8px;
        font-size: 25px;
        cursor: pointer;

        &.disabled {
          opacity: 0.5;
          cursor: default;
          pointer-events: none;
        }
      }
    }

    .mash-prompt-message {
      margin: 10px 0 0 0;
      font-style: italic;

      &.invisible {
        visibility: hidden;
      }
    }
  }

  .mash-text {
    padding: 30px 0;
    width: 100%;
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: 150px;

    ::placeholder {
      color: $gray;
    }
  }

  .reset-button {
    position: absolute;
    top: 0;
    left: 0;
  }

  .person-list-container {
    position: absolute;
    top: 0;
    right: 0;

    .person-list-header {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 20px 30px;
      font-weight: bold;
    }

    .person-button {
      display: flex;
      justify-content: flex-end;

      &.current-person {
        color: $light;
        font-weight: bold;
        background-color: $darker;
        box-shadow: 0px 0px 1px $darkerGray;
      }

      &.person-not-enough-data {
        color: $red;
      }
    }
  }
}

input {
  width: 120px;
  padding: 10px;
  border-radius: 20px;
  background-color: $darker;
  color: $gray;
  border: none;
}

.buttonish {
  padding: 20px 30px;
  font-size: 20px;
  cursor: pointer;

  &:hover {
    color: $light;
  }
}

.debugging {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 1.2em;
}
